ion-header {
    ion-toolbar {
        --background: linear-gradient(90deg, var(--primary-section-bgcolor-left), var(--primary-section-bgcolor-right));
        .content-wrapper {
            display: flex;

            ion-menu-button {
                display: flex;
            }

            ion-label {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
                color: var(--primary-bold-text-color);

                ion-icon {
                    cursor: pointer;
                }
            }
        }
    }
}

ion-content {
    --background: var(--secondary-section-bgcolor);

    .card-wrapper {
        --background: var(--secondary-card-bg-color);

        .card-grid-wrapper {
            .upper-content {
                border-bottom: 2px solid var(--secondary-card-line-color);

                .name {
                    font-size: 16px;
                    color: var(--secondary-bold-text-color);
                }

                ion-icon {
                    color: var(--secondary-bold-text-color);
                    font-size: 20px;
                }
            }

            .middle-content {
                border-bottom: 2px solid var(--secondary-card-line-color);

                .txt {
                    color: var(--secondary-normal-text-color);
                }

                .value {
                    color: var(--secondary-bold-text-color);
                }
            }

            .lower-content {
                .view-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                ion-button {
                    height: 26px;
                    font-size: 12px;
                    text-transform: none;

                    --box-shadow: none ion-label {
                        
                    }
                }
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        --background: var(--footer-section-bgcolor);

        ion-button {
            margin: 0px;
            --box-shadow: none;
            text-transform: none;
            --background: linear-gradient(90deg, var(--footer-button-bgcolor-right), var(--footer-button-bgcolor-left));
            --color: var(--footer-button-text-color);

            ion-label {
                font-weight: 600;
            }
        }
    }
}

// popup modal
.pop-up-modal-header {
    ion-toolbar {
        ion-label {
            font-size: 16px;
            color: var(--ion-modal-topheading-text-color);
        }

        ion-icon {
            font-size: 22px;
            color: var(--ion-modal-header-text-color);
        }
    }
}

ion-modal {
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: #000000;
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: linear-gradient(90deg, var(--ion-modal-header-bgcolor-left), var(--ion-modal-header-bgcolor-right)) !important;
    --color: var(--ion-modal-header-text-color);
}

.pop-up-modal-header {
    .heading-wrapper {
        --background: #fc5bfa;;

        ion-title {
            padding: 0px 10px 0px 10px;

            ion-icon {
                font-size: 22px;
                color: var(--common-text-color-B);
            }
        }
    }
}

.pop-up-modal-content {
    width: 100vw;
    height: 100vh;
    // --background: radial-gradient(farthest-side at bottom left, #00ffffa8, transparent),
    //     radial-gradient(farthest-corner at bottom right, #dfc2c2e3, transparent 600px),
    //     radial-gradient(farthest-side, #00ff73, transparent),
    //     radial-gradient(farthest-corner, #e100ff, #ff1f1fa3);
    --background: var(--ion-modal-content-bgcolor);
    ion-card {
        background: #ffffff80;
        margin: 22px;
    }
}

ion-buttons {
    display: flex;

    ion-button {
        flex: 1;
        margin: 0px;
        --box-shadow: none;
        text-transform: none;

        ion-label {
            font-weight: 600;
        }
    }
}

.ion-content-wrapper {
    .ion-segment-wrapper {
        ion-segment-button {
            --indicator-height: 4px;
            --color-checked: var(--primary-section-bgcolor-left);
            --indicator-color: linear-gradient(90deg, var(--primary-section-bgcolor-left), var(--primary-section-bgcolor-right));
            ion-label {
                color: var(--common-text-color-W);
            }
        }
    }
    .modal-txtbx {
        --background: #e69eea;
    }
}

.setting-column {
    .set-label-color {
        color: var(--common-text-color-W);
    }
}